#center-card {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden auto;
}

@media (min-width: 601px) {
  #center-card {
    width: 30rem;
  }
}
@media (max-width: 600px) {
  #center-card {
    width: 100vw;
    padding: 1rem;
  }
}


.slide {
  display: none;
  opacity: 0;
  transform: translateY(-3rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide.fade-out {
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 0.4s, transform 0.4s ease-out;
}

.slide.fade-in {
  opacity: 1;
  transform: translateY(0rem);
  transition: opacity 0.4s, transform 0.4s ease-out;
}

.slide.display-flex {
  display: flex;
}

div.slide > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
