div.project-parent-container {
  width: 100%;
  max-width: 50rem;
  min-height: 80vh;
}

div.project-container {
  width: 100%;
}

div.tags-container {
  display: flex;
  padding: 1rem;
}

div.tag {
  margin: 0px 0.2rem !important;
}
