@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: vazir;
  src: url(/statics/fonts/Vazir-Black.ttf);
  font-weight: 900;
}
html {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: vazir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #052c49;
  min-height: 100vh;
}

div#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  html {
    font-size: 12px;
  }
}

div.projects-parent-container,
div.project-parent-container {
  width: 100%;
  max-width: 50rem;
  min-height: 80vh;
  padding: 2rem 0px;
}

div.projects-container,
div.project-container {
  width: 100%;
}

.project-card {
  margin-bottom: 1.6rem;
  width: 100%;
  max-width: 50rem;
  padding: 2rem 0px;
}

div.tags-form {
  display: flex;
  align-items: baseline;
  margin: 3rem 0px;
}

div.tags-container {
  display: flex;
  align-items: baseline;
  padding: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

div.tag {
  margin: 0px 0.2rem !important;
}

a,
.link {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: 0.1s ease-in all;
  cursor: pointer;
}

a:hover,
.link:hover {
  color: #000000;
}

div.project-description {
  white-space: pre-wrap;
}
